body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#uv {
	height: 668px;
	width: 924px;
	margin-top: 2em;
	margin-left: 2em;
}
#nextBtn,
#previousManifestBtn {
	margin-top: 1em;
	margin-left: 2em;
}

.container {
	display: flex;
	align-items: flex-start; /* Align items to the top of the container */
}
.list-container {
	margin-left: 2em;
}
