body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#uv {
	height: 668px;
	width: 924px;
	margin-top: 2em;
	margin-left: 2em;
}
#nextBtn,
#previousManifestBtn {
	margin-top: 1em;
	margin-left: 2em;
}

.container {
	display: flex;
	align-items: flex-start; /* Align items to the top of the container */
}
.list-container {
	margin-left: 2em;
}

/* Add this CSS to your existing styles */
.list-manifest {
	list-style: none;
	padding: 0;
	margin: 0;
}

.list-manifest li {
	cursor: pointer;
	margin-bottom: 0.5em;
	padding: 0.5em;
	background-color: #f0f0f0;
	border-radius: 4px;
	transition: background-color 0.3s ease;
}

.list-manifest li:hover {
	background-color: #e0e0e0;
}

.list-manifest span {
	color: #333;
}

.list-manifest li.active {
	background-color: #007bff;
	color: #fff;
}

.list-manifest li.active:hover {
	background-color: #0056b3;
}
h3 {
	margin-top: 2em;
}
